<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for Prism" Description="Code analysis rules for the core libraries of the Prism framework." ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1020" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS8019" Action="Info" />
  </Rules>
</RuleSet>